:root {
  --font-sans: 'Sofia Sans', sans-serif;
}

@font-face {
  font-family: 'Sofia Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://fonts.cdnfonts.com/css/sofia-sans.woff) format('woff');
}

html {
  font: 67.5%;
  word-spacing: inherit;
  letter-spacing: inherit;
  line-height: 1.5rem;
}

body {
  margin: 0;
  font-family: var(--font-sans);
}

.top-nav {
  position: fixed;
  top: 0;
  width: 97.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  background-color: skyblue;
  color: aliceblue;
  
  & > ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      gap: 2em;
    }
  
  & > span {
    align-self: center;
  }
}

.hero {
  width: 100vw;
  height: 100dvh;
  display: grid;
  align-items: center;
  justify-items: center;
}

.auth {
  min-width: 20em;
  text-align: center;
}

.projects-list {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.project-card {
  border-radius: 24px;
  box-shadow: 0px 0px 6px gray;
}

.project-card:hover {
  color: blue;
}
